<link rel="stylesheet" type="text/css" href="../styles.css">

<p>/blog/extensions_I_use.html</p>
<h1>Extensions I use</h1>
<br>

<h2>Bitwarden (for password management)</h2>
<h2>UBlock Origin (for ad-blocking)</h2>
<h2>Scratch Addons (for when I go on Scratch, which is almost never)</h2>
<h2>LibRedirect (A web extension that redirects YouTube, Twitter, TikTok, and other websites to alternative privacy friendly frontends)</h2>
<h2>Chameleon (changes user-agent every minute)</h2>
<h2>Extension Source Viewer (to see the source code of an extension)</h2>
<h2>Renewed Tab (to make my new tab look awesome)</h2>
<h2>Dark Reader (for my eyes)</h2>
<h2>Violentmonkey (for userscripts)</h2>
<h2>Stylus (for userstyles)</h2>