<link rel="stylesheet" type="text/css" href="../styles.css">

<p>/blog/WhyLinuxMintIsBetterThanWindows.html</p>
<h1>Why Linux Mint Is Better Than Windows</h1>

<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This slideshow is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
<iframe src="./Linux Mint vs Windows.pdf" style="width: 99%; height: 81%;"></iframe>
<a href="./Linux Mint vs Windows.odp">ODP file for this slideshow.</a>